* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background-color: #f3f3f3;
  color: #333;
  font-family: "Lato", sans-serif;
}
.container {
  max-width: 1100px;
  padding: 0 1rem;
  margin: auto;
}
.main {
  background-color: #fff;
  margin-top: 100px;
  padding: 1rem;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
.weight-form p {
  text-align: center;
  font-weight: 700;
}
.weight-form-field {
  margin: 1rem 0;
}
.weight-form-input,
#unit1,
#unit2 {
  width: 100%;
  font-size: 18px;
  padding: 0.3rem;
  border: 1px solid #333;
}
option:focus {
  background-color: rgb(0, 139, 139);
}
.weight-form-input:focus,
#unit1:focus,
#unit2:focus {
  outline: none;
}

.weight-form-submit {
  border: none;
  display: block;
  width: 100%;
  font-size: 18px;
  padding: 0.5rem;
  background-color: rgb(0, 139, 139);
  color: #fff;
  cursor: pointer;
}
.weight-form-submit:hover {
  background-color: rgb(0, 116, 116);
}
#result {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .main {
    width: 60%;
    margin: auto;
    margin-top: 100px;
  }
}
